* {
  margin: 0;
  padding: 0;
}
:root {
  font-size: 62.5%;
  --orange-color: #FF900E;
  --banner-background: rgba(255, 144, 14, 0.1);
  --white-color: white;
  --primary-color: #727272;

}
.orange {
  color: var(--orange-color);
}
.fluid { 
  width: 100%;
  height: 100%;
}
p, .primary { 
  color: var(--primary-color);
}
button {
  padding: 2rem 2.5rem;
  background-color: var(--orange-color);
  color: var(--white-color);
  border-radius: 1rem;
  border: none;
}
.font65 {
  font-size: 6.5rem;
}
.font45 {
  font-size: 4.5rem;
}
.font20 {
  font-size: 2rem;
}
.bold {
  font-weight: bold;
}
body {
  font-size: 1.6rem;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  padding: 5rem 0 10.7rem 22rem;
}
.nav-menu {
  display: flex;
  list-style: none;
  padding: 5rem 24rem 10.7rem 0;
  gap: 5rem;
  color: var(--primary-color);
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
  background-color: var(--banner-background);
}
.team-container {
  display: flex;
  align-items: center;
  gap: 8rem;
  padding: 13rem 20rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1rem;
}
.team-description {
  display: grid;
  gap: 2rem;
}
.border-left {
  border-left: 0.5rem solid var(--orange-color);
  padding-left: 1.5rem;
  margin-bottom: 2rem;
}
.features-container {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  gap: 5rem;
  padding: 0 20rem 13rem;
}
.features-head {
  margin-bottom: 3rem;
}
.features-list {
  padding-left: 2rem;
  display: grid;
  gap: 2rem;
}
.btn-float {
  position: relative;
  top: -7rem;
  left: 0;
}
.facts {
  margin-bottom: 2rem;
}
.achievements-container {
  padding: 0 20rem 13rem;
}
.achievements {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.box {
  border: 2px solid var(--orange-color);
  padding: 4rem 6rem 6rem;
  display: grid;
  gap: 1.5rem;
  border-radius: 1rem;
}
@keyframes first-animation {
  0% {
    background-color: var(--orange-color);
  }
  50% {
    background-color: tomato;
  }
  100% {
    background-color: black;
  }
}
.box:hover { 
  animation-name: first-animation;
  animation-timing-function: 0.5s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}